# node modules
node_modules

# env files
.env

# uploads
public/uploads/*

# python script files
*.py

# python output files
*.pyout

# docx output files
*.doc*

# logs
logs

# admin panel files
/public/dist

# whatsapp tokens
tokens

# image file size
env/max*.txt